#card-container {
    display: flex;
    gap: 16px;
}

.condition {
    list-style-type: none;
}

.condition > div {
    display: flex;
    justify-content: space-between;
}

#set-icon {
    max-width: 100px;
}