{% extends "layout.html" %} {% block title %} Buy {% endblock %} {% block main %}

{% block additional_styles %}
<link href="/static/css/series.css" rel="stylesheet" />
{% endblock %}

<!-- <div id="total-expansions"></div>
<hr>
<div>
  Sort by:
  <select id="sort-option">
    <option value="series">Series</option>
    <option value="releaseDate">Release Date</option>
  </select>
</div> -->

<div id="series">
  
</div>


{% block additional_scripts %}
<script src="/static/js/series.js"></script>
{% endblock %}

{% endblock %}